@import "tailwindcss";

@theme {
    --color-light: #e0e0e0;
    --color-dark: #242424;
    --color-primary: #ed7d27;
    --color-danger: #ff4d4f;
    --color-success: #52c41a;
    --color-info: #1890ff;
    --color-disabled: #919191;

    /* Item Rarity Colors */
    --color-common: #e0e0e0;
    --color-uncommon: #006aff;
    --color-rare: #fafa34;
    --color-epic: #d400ff;
    --color-legendary: #ff8000;
    --color-artifact: #fc0000;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    min-height: 100vh;
}

button {
    cursor: pointer;
    border-radius: 0.3rem;
}

.light-shadow {
    filter: drop-shadow(0px 0px 1px #ffffff);
}

.dark-shadow {
    filter: drop-shadow(0px 0px 1px #000000);
}

.Toastify__toast-container {
    width: fit-content;
}

@keyframes floatUp {
    0% {
        transform: translate(-50%, -50%) translateY(0);
        opacity: 1;
    }
    70% {
        transform: translate(-50%, -50%) translateY(-24px);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) translateY(-40px);
        opacity: 0;
    }
}
